/* page-chat {
  .chat-bg {
    background-image: url(../assets/img/chat-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .scroll-content {
    margin-bottom: 70px;
  }
  .item {
    color: #fff;
    background-color: transparent;
    height: 4rem;
    border-bottom: 0 !important;
  }
  .item.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0;
  }
  .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .list .item-block .item-inner {
    border-bottom: 0 !important;
  }
  .chat-box {
    background-color: $light-white;
    margin: 10px 15px;
    padding: 8px;
    position: relative;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 3px 3px 12px 0px rgba(46, 50, 124, 0.26);
    .chat-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .name {
        color: $white;
        font-weight: 700;
        overflow: hidden;
        padding-left: 4px;
      }
      .time {
        color: $white;
        font-size: 9px;
        width: 100%;
        text-align: right;
        padding-right: 15px;
        margin: 3px 0;
      }
    }
    .msg {
      margin: 5px;
      line-height: 20px;
      color: $white;
      text-align: justify;
    }
  }
  .right {
    float: right;
    border: 1px solid $light-green !important;
  }
  // chat-box right side
  .chat-box-right {
    @extend .chat-box;
    border-radius: 30px 0 30px 30px;
    background-color: $light-green;
    box-shadow: 3px 3px 12px 0px rgba(46, 50, 124, 0.26);
  }
  .thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid $light-white;
  }
  ion-footer {
    position: fixed;
    z-index: 10;
    display: block;
    width: 100%;
    bottom: 0;
    .toolbar-ios {
      min-height: 56px;
    }
    .toolbar-background {
      background: transparent !important;
    }
  }
  .input-md[clearInput] .text-input {
    padding-right: 30px;
    color: #000;
  }
  .chat-field {
    border: none;
    padding: 0px 0 0px 8px !important;
  }
  .send-img-txt {
    color: #144a48;
    padding-left: 12px;
    font-size: 13px;
  }
  .button {
    background-color: transparent;
    color: $primary;
    box-shadow: none;
    float: right;
    padding: 0;
  }
  .button:hover:not(.disable-hover) {
    background-color: transparent;
  }
  .enter-btn {
    font-size: 36px;
    float: right;
    margin: 2px 5px 0px 0px;
  }
  .text-input {
    margin: 0px;
    color: $black;
  }
  .chat-footer {
    background-color: $light;
    z-index: 999;
    border-top: 1px solid #fff;
    height: 4em;
    width: 100%;
  }
}
 */
 page-chat {
 .massege-container {
  background-image: url(../assets/img/chat-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .nav-container {
  display: flex !important;
  flex-direction: row !important;
 }

 .online {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background-color: #09df97;
  margin-right: 10%;
  margin-top: 1%;
}

.offline {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background-color: #ff3d71;
  margin-right: 10%;
  margin-top: 1%;
}

 .massege-wrapper {
  height: 100%;
}

.massege-container {
  height: 100%;
}


.opposite-user {
  background-color: rgba(0, 123, 255, 0.4);
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 15px;
  margin-right: 15px;
  border: solid 1px #007bff;
  -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}

.message-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.82);
  position: absolute;
  z-index: 1;
  text-align: center;
  padding-top: 200px;
}

/* .sub-heading{
	font-size: 20px;
	color: rgba(0, 123, 255);
} */
.message-row {
  flex-direction: row;
  display: flex;
}

.message-thread {
  overflow-y: scroll;
  list-style-type: none;
  height: 100%;
  min-height: 300px;
  width: 100%;
  border: solid 1px #bdbdbd;
  margin: 0px !important;
  padding: 5px !important;
}

.start-chatting-banner {
  padding-top: 25% !important;
  text-align: center;
}

.message-thread li {
  clear: both;
  text-decoration: none;
  list-style-type: none;
  margin: 20px 10px 0px 20px;
  float: left;
  margin-right: 20px;
  padding: 15px 30px;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
  margin-bottom: 10px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  line-height: 1.5em;
  word-wrap: break-word;
  color: #444444;
  text-align: left;
  background-color: #ecedf0;
  border: solid 1px #ecedf0;
}

.align-right {
  float: right !important;
  background-color: #32cd32!important;
  color:  white !important;
  border: solid 1px #32cd32 !important;
  text-align: right;
  border-top-right-radius: 0rem !important;
  border-top-left-radius: 0.5rem !important;
}

.button {
  background-color: transparent;
  color: $primary;
  box-shadow: none;
  float: right;
  padding: 0;
}
.button:hover:not(.disable-hover) {
  background-color: transparent;
}
.enter-btn {
  font-size: 36px;
  float: right;
  margin: 2px 5px 0px 0px;
}
.text-input {
  margin: 0px;
  color: $black;
}
.chat-footer {
  background-color: $light;
  z-index: 999;
  border-top: 1px solid #fff;
  height: 4em;
  width: 100%;
}
}
