<ion-header>
    <ion-navbar>
      <div class="nav-container">
        <ion-title>{{"Moderator" | translate}}</ion-title>
        <span [ngClass]="selectedUser.online === 'Y' ? 'online' : 'offline'"> </span>
      </div>
    </ion-navbar>
</ion-header>


<ion-content class="chat-bg">

  <div class="massege-container">

		<ul #messageThread class="message-thread" *ngIf="messages.length !== 0">
			<li *ngFor="let message of messages" [class.align-right]="alignMessage(message.toUserEmail)">
				{{ message.message}}
			</li>
		</ul>

		<div  class="message-thread start-chatting-banner" *ngIf="messages.length === 0">
			<p class="heading">
				Loading messages please wait ...
				<span class="sub-heading">Say Hi.</span>
			</p>
		</div>
	</div>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <form [formGroup]="messageForm" novalidate>
            <ion-row class="chat-footer">
                <ion-col col-10>
                    <ion-item>
                        <ion-input formControlName="message"
                        #messageInput
                        autofocus
                        nbInput
                        placeholder="Type your message here"
                        type="text"
                        >
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2>
                    <button ion-button icon only  (click)="sendMessage($event)"
                    class="send-button">
                        <ion-icon class="enter-btn" name="send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </form>
    </ion-toolbar>
</ion-footer>


<!--     <section>
        <span *ngFor="let data of messageList">
            <ion-row *ngIf="data.sendBy =='User'">
                <ion-col col-3>
                    <img class="thumb" src="{{userDisplayPic}}">
                </ion-col>

                <ion-col col-8 class="chat-box">
                    <div class="chat-header">
                        <span *ngIf="data.createdAt >= sevenDaysBack" class="time">
                            {{data.createdAt | amTimeAgo}}</span>
                        <span *ngIf="data.createdAt <=  sevenDaysBack" class="time">
                            {{data.createdAt | amCalendar}}</span>
                    </div>
                    <p class="msg" text-wrap>{{data.message}}</p>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="data.sendBy =='Admin'">
                <ion-col col-8 class="chat-box-right">
                    <div class="chat-header">
                        <span *ngIf="data.createdAt >= sevenDaysBack" class="time">
                            {{data.createdAt | amTimeAgo}}</span>
                        <span *ngIf="data.createdAt <=  sevenDaysBack" class="time">
                            {{data.createdAt | amCalendar}}</span>
                    </div>
                    <p class="msg rt" text-wrap>{{data.message}}</p>
                </ion-col>

                <ion-col col-3>
                    <img class="thumb right" src="assets/icon/admin.jpg">
                </ion-col>
            </ion-row>
        </span>

    </section> -->
